* {
  margin: 0;
  border: 0;
  padding: 0;

  /* Reset box model */
  box-sizing: border-box;

  /* No outline */
  outline: none;
  -webkit-tap-highlight-color: transparent;

  /* No bg */
  background: transparent;

  /* No radius */
  border-radius: 0;

  /* No other ios */
  -webkit-appearance: none;
}


/* Inline block */
a,
button,
input,
img,
span {
  display: inline-block;
}


/* Pointer */
input[type="file"],
button,
a,
select {
  cursor: pointer;
}


/* User select */
button {
  user-select: none;
}


/* Color */
button,
select {
  color: black;
}


/* Font size */
input,
textarea,
button {
  font-size: 16px;
}


img {
  display: block;
}


textarea {
  font-family: inherit;
}
